.main-view,
.main-view * {
  box-sizing: border-box;
}
.main-view {
  background: #f799ffbe;
  height: 812px;
  position: relative;
  overflow: hidden;
}
.rectangle-4 {
  background: #cdb4db;
  border-radius: 50px;
  width: 230px;
  height: 50px;
  position: absolute;
  left: -8px;
  top: 562px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-5 {
  background: #cdb4db;
  border-radius: 50px;
  width: 230px;
  height: 50px;
  position: absolute;
  left: -8px;
  top: 495px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-6 {
  background: #cdb4db;
  border-radius: 50px;
  width: 230px;
  height: 50px;
  position: absolute;
  left: -8px;
  top: 425px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-7 {
  background: #cdb4db;
  border-radius: 50px;
  width: 230px;
  height: 50px;
  position: absolute;
  left: -8px;
  top: 353px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-8 {
  background: #cdb4db;
  border-radius: 50px;
  width: 230px;
  height: 50px;
  position: absolute;
  left: -8px;
  top: 284px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.image-3 {
  width: 115px;
  height: 112px;
  position: absolute;
  left: 270px;
  top: 52px;
  object-fit: cover;
}
.rectangle-1 {
  background: #f799ffbe;
  width: 383px;
  height: 64px;
  position: absolute;
  left: -8px;
  top: 0px;
  filter: blur(2px);
}
.morning-routine-app {
  color: #ffffff;
  text-align: left;
  font-family: "FontAwesome6Free-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 18px;
  top: 35px;
  width: 367px;
  height: 29px;
}
.good-morning-name-this-is-how-long-you-should-take-to-get-on-time-today {
  color: #160011;
  text-align: left;
  font-family: "FredokaOne-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 10px;
  top: 173px;
  width: 348px;
  height: 42px;
}
.shower {
  color: #000000;
  text-align: left;
  font-family: "GfsNeohellenic-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 68px;
  top: 287px;
  width: 180px;
  height: 43px;
}
.dressed {
  color: #000000;
  text-align: left;
  font-family: "GfsNeohellenic-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 62px;
  top: 357px;
  width: 180px;
  height: 43px;
}
.hair {
  color: #000000;
  text-align: left;
  font-family: "GfsNeohellenic-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 90px;
  top: 426px;
  width: 180px;
  height: 43px;
}
.breakfast {
  color: #000000;
  text-align: left;
  font-family: "GfsNeohellenic-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 50px;
  top: 494px;
  width: 180px;
  height: 43px;
}
.bus-time {
  color: #000000;
  text-align: left;
  font-family: "GfsNeohellenic-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 55px;
  top: 565px;
  width: 180px;
  height: 43px;
}
.rectangle-3 {
  background: #f799ffbe;
  width: 383px;
  height: 56px;
  position: absolute;
  left: 0px;
  top: 756px;
  filter: blur(2px);
}
.icon-button {
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  position: absolute;
  left: 310px;
  top: 760px;
}
.container {
  background: #cdb4db;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.state-layer {
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
